link(rel='stylesheet', type='text/css', href='../javascripts/UI/Scripts/media/css/bootstrap.min.css')  
link(type='text/css',href='../Separate/web/css/lunbo.css',rel='stylesheet')
link(type='text/css',href='../Separate/web/css/Separate.css',rel='stylesheet')
div#dowebok
script(src='http://api.map.baidu.com/api?v=2.0&ak=VYFhBqYUwcCHwTKs79ekDk1cEnOOvOQK')
script(type='text/javascript', src='../javascripts/Angular/angular.min.js')
script(type='text/javascript',src='../MAP/web/javascripts/echarts.min.js')
script(type='text/javascript',src='./Alarm/web/js/highcharts.js')
script(type='text/javascript', src='../javascripts/UI/Scripts/jquery-1.10.2.min.js')
script(type='text/javascript', src='../javascripts/UI/Scripts/moment.js')
script(type='text/javascript', src='../javascripts/UI/Scripts/underscore-min.js')
script(type='text/javascript',src='../Separate/web/config.js')
script(type='text/javascript',src='../Separate/web/javascripts/IndexDay.js')
script(type='text/javascript',src='../Separate/web/javascripts/lunbo.js')
script(type='text/javascript',src='../Separate/web/controller/SeparateController.js')
script(type='text/javascript',src='../Separate/web/controller/map.js')
script(type='text/javascript',src='../Separate/web/controller/introduce.js')
script(type='text/javascript',src='../Separate/web/controller/activation.js')
script(type='text/javascript',src='../Separate/web/controller/state.js')
script(type='text/javascript',src='../Separate/web/controller/police.js')
